## Importing Modules

In [11]:
import pandas as pd
import numpy as np
import os
import csv

In [42]:
DATA_PATH = os.path.abspath(os.path.join(''))
print(DATA_PATH)
DataFrame_365Days = os.path.join(DATA_PATH, 'DataFrame_365Days.csv')

C:\Users\OmarHamdaoui\Downloads\My files\Work\Git Omar\Split a Dataframe by Chunks

### Reading our file

In [40]:
df = pd.read_csv(DataFrame_365Days,delimiter='\t')

In [41]:
df

     Unnamed: 0          ds             y
0             0  2017-01-01  12915.815951
1             1  2017-01-02  15791.050000
2             2  2017-01-03   9617.710000
3             3  2017-01-04  15224.950000
4             4  2017-01-05  19332.930000
5             5  2017-01-06  18018.870000
6             6  2017-01-07  31977.150000
7             7  2017-01-08  30884.354289
8             8  2017-01-09  13675.120000
9             9  2017-01-10   9143.410000
10           10  2017-01-11  55083.530000
11           11  2017-01-12  31968.430000
12           12  2017-01-13  34346.890000
13           13  2017-01-14  67204.950000
14           14  2017-01-15  12281.300000
15           15  2017-01-16  24911.540000
16           16  2017-01-17  21503.390000
17           17  2017-01-18  19626.510000
18           18  2017-01-19  14405.200000
19           19  2017-01-20  19759.350000
20           20  2017-01-21  49319.310000
21           21  2017-01-22  38503.611272
22           22  2017-01-23  13617.760000
23           23  2017-01-24  13529.770000
24           24  2017-01-25  16083.440000
25           25  2017-01-26  13768.200000
26           26  2017-01-27  17360.650000
27           27  2017-01-28  43779.420000
28           28  2017-01-29  39333.710022
29           29  2017-01-30  19415.230000
..          ...         ...           ...
335         335  2017-12-02  38347.130000
336         336  2017-12-03     30.000000
337         337  2017-12-04  19669.320000
338         338  2017-12-05  14487.430000
339         339  2017-12-06  17218.600000
340         340  2017-12-07  17345.180000
341         341  2017-12-08  21006.550000
342         342  2017-12-09  34687.740000
343         343  2017-12-10   9292.980000
344         344  2017-12-11  15822.650000
345         345  2017-12-12  18425.810000
346         346  2017-12-13  17803.550000
347         347  2017-12-14  13630.320000
348         348  2017-12-15  15659.560000
349         349  2017-12-16  34190.110000
350         350  2017-12-17   8634.010000
351         351  2017-12-18  17927.380000
352         352  2017-12-19  17489.770000
353         353  2017-12-20  30603.300000
354         354  2017-12-21  19553.370000
355         355  2017-12-22  21244.980000
356         356  2017-12-23  29671.030000
357         357  2017-12-24   5285.300000
358         358  2017-12-25   8234.985862
359         359  2017-12-26  23020.700000
360         360  2017-12-27  21521.120000
361         361  2017-12-28  23587.060000
362         362  2017-12-29  22953.440000
363         363  2017-12-30  23237.980000
364         364  2017-12-31   6047.781229

[365 rows x 3 columns]

### Spliting the DataFram into Chunks

#### Split a DataFrame into chunks (with equal pieces by removing the pieces that do not contain the same size as the others)
it's a CSV file that contains two columns and 365 rows, so we are going to split this DataFrame into chunks "15 rows per Chunk" and each peace will be equal to all the others pieces, the last chunk will be verified if it's equal to all the chunk, if it's not it will be droped, but you can use the "else" condition to conserve it and to get another chunks that will not equal the others chunks or pieces.

In [43]:
max_rows = 15
df_divided = []
while len(df) > max_rows:
    top = df[:max_rows]
    df_divided.append(top)
    df = df[max_rows:]
''' else:
    validation_div.append(validation_df)'''

' else:\n    validation_div.append(validation_df)'

In [50]:
df_divided

[    Unnamed: 0          ds             y
 0            0  2017-01-01  12915.815951
 1            1  2017-01-02  15791.050000
 2            2  2017-01-03   9617.710000
 3            3  2017-01-04  15224.950000
 4            4  2017-01-05  19332.930000
 5            5  2017-01-06  18018.870000
 6            6  2017-01-07  31977.150000
 7            7  2017-01-08  30884.354289
 8            8  2017-01-09  13675.120000
 9            9  2017-01-10   9143.410000
 10          10  2017-01-11  55083.530000
 11          11  2017-01-12  31968.430000
 12          12  2017-01-13  34346.890000
 13          13  2017-01-14  67204.950000
 14          14  2017-01-15  12281.300000,
     Unnamed: 0          ds             y
 15          15  2017-01-16  24911.540000
 16          16  2017-01-17  21503.390000
 17          17  2017-01-18  19626.510000
 18          18  2017-01-19  14405.200000
 19          19  2017-01-20  19759.350000
 20          20  2017-01-21  49319.310000
 21          21  2017-01-22  38503.611272
 22          22  2017-01-23  13617.760000
 23          23  2017-01-24  13529.770000
 24          24  2017-01-25  16083.440000
 25          25  2017-01-26  13768.200000
 26          26  2017-01-27  17360.650000
 27          27  2017-01-28  43779.420000
 28          28  2017-01-29  39333.710022
 29          29  2017-01-30  19415.230000,
     Unnamed: 0          ds         y
 30          30  2017-01-31  14352.69
 31          31  2017-02-01  19488.26
 32          32  2017-02-02  19971.96
 33          33  2017-02-03  19150.55
 34          34  2017-02-04  45521.07
 35          35  2017-02-05     30.00
 36          36  2017-02-06  16115.73
 37          37  2017-02-07  16802.05
 38          38  2017-02-08  18873.41
 39          39  2017-02-09  18402.10
 40          40  2017-02-10  19263.43
 41          41  2017-02-11  43416.28
 42          42  2017-02-12   -358.84
 43          43  2017-02-13  23262.01
 44          44  2017-02-14  14730.98,
     Unnamed: 0          ds             y
 45          45  2017-02-15  17025.290000
 46          46  2017-02-16  15069.830000
 47          47  2017-02-17  17514.910000
 48          48  2017-02-18  44709.450000
 49          49  2017-02-19    240.000000
 50          50  2017-02-20  17689.340000
 51          51  2017-02-21  18629.460000
 52          52  2017-02-22  15355.920000
 53          53  2017-02-23  14934.420000
 54          54  2017-02-24  18751.080000
 55          55  2017-02-25  41101.940000
 56          56  2017-02-26  37177.235339
 57          57  2017-02-27  19540.400000
 58          58  2017-02-28  13916.920000
 59          59  2017-03-01  17680.520000,
     Unnamed: 0          ds         y
 60          60  2017-03-02  17461.60
 61          61  2017-03-03  20290.76
 62          62  2017-03-04  38682.62
 63          63  2017-03-05   1080.00
 64          64  2017-03-06  15475.84
 65          65  2017-03-07  15501.47
 66          66  2017-03-08  17549.55
 67          67  2017-03-09  15059.80
 68          68  2017-03-10  18820.76
 69          69  2017-03-11  49934.38
 70          70  2017-03-12     30.00
 71          71  2017-03-13  19727.96
 72          72  2017-03-14  16527.98
 73          73  2017-03-15  19001.53
 74          74  2017-03-16  21445.27,
     Unnamed: 0          ds             y
 75          75  2017-03-17  21112.170000
 76          76  2017-03-18  44801.380000
 77          77  2017-03-19  37940.753002
 78          78  2017-03-20  16551.130000
 79          79  2017-03-21  13349.020000
 80          80  2017-03-22  22070.700000
 81          81  2017-03-23  16529.910000
 82          82  2017-03-24  12808.690000
 83          83  2017-03-25  46700.530000
 84          84  2017-03-26  41335.777039
 85          85  2017-03-27  16972.320000
 86          86  2017-03-28  13637.060000
 87          87  2017-03-29  18097.440000
 88          88  2017-03-30  18766.180000
 89          89  2017-03-31  17195.640000,
      Unnamed: 0          ds             y
 90           90  2017-04-01  49737.750000
 91           91  2017-04-02  45904.059146
 92           92  2017-04-03  23022.310000
 93           93  2017-04-04  17901.600000
 94           94  2017-04-05  21559.850000
 95           95  2017-04-06  24936.960000
 96           96  2017-04-07  25051.770000
 97           97  2017-04-08  40618.110000
 98           98  2017-04-09  39487.435100
 99           99  2017-04-10  27814.410000
 100         100  2017-04-11  23345.580000
 101         101  2017-04-12  27428.980000
 102         102  2017-04-13  24626.780000
 103         103  2017-04-14  28113.560000
 104         104  2017-04-15  46948.200000,
      Unnamed: 0          ds             y
 105         105  2017-04-16  31679.344213
 106         106  2017-04-17  12242.650000
 107         107  2017-04-18  21642.630000
 108         108  2017-04-19  21722.140000
 109         109  2017-04-20  18018.160000
 110         110  2017-04-21  21026.710000
 111         111  2017-04-22  37583.900000
 112         112  2017-04-23  34526.009343
 113         113  2017-04-24  19792.100000
 114         114  2017-04-25  12769.690000
 115         115  2017-04-26  17170.830000
 116         116  2017-04-27  17737.780000
 117         117  2017-04-28  22636.690000
 118         118  2017-04-29  37314.760000
 119         119  2017-04-30  36837.519854,
      Unnamed: 0          ds             y
 120         120  2017-05-01  25364.669087
 121         121  2017-05-02  16839.280000
 122         122  2017-05-03  19552.730000
 123         123  2017-05-04  20171.110000
 124         124  2017-05-05  23427.190000
 125         125  2017-05-06  51556.830000
 126         126  2017-05-07     30.000000
 127         127  2017-05-08  18072.270000
 128         128  2017-05-09  18447.380000
 129         129  2017-05-10  22414.720000
 130         130  2017-05-11  19038.270000
 131         131  2017-05-12  22289.810000
 132         132  2017-05-13  38467.840000
 133         133  2017-05-14     30.000000
 134         134  2017-05-15  22860.110000,
      Unnamed: 0          ds             y
 135         135  2017-05-16  16739.900000
 136         136  2017-05-17  27070.350000
 137         137  2017-05-18  20260.480000
 138         138  2017-05-19  20963.540000
 139         139  2017-05-20  41603.940000
 140         140  2017-05-21  40902.826833
 141         141  2017-05-22  25829.510000
 142         142  2017-05-23  17970.830000
 143         143  2017-05-24  22230.410000
 144         144  2017-05-25  20521.430000
 145         145  2017-05-26  40225.930000
 146         146  2017-05-27  32921.340000
 147         147  2017-05-28  24431.879325
 148         148  2017-05-29  21293.040000
 149         149  2017-05-30  19633.650000,
      Unnamed: 0          ds             y
 150         150  2017-05-31  22260.270000
 151         151  2017-06-01  25203.410000
 152         152  2017-06-02  21521.160000
 153         153  2017-06-03  49819.400000
 154         154  2017-06-04  43946.651408
 155         155  2017-06-05  22518.900000
 156         156  2017-06-06  21519.120000
 157         157  2017-06-07  25605.000000
 158         158  2017-06-08  22869.320000
 159         159  2017-06-09  22774.120000
 160         160  2017-06-10  33868.570000
 161         161  2017-06-11     30.000000
 162         162  2017-06-12  17818.390000
 163         163  2017-06-13  20497.070000
 164         164  2017-06-14  19576.760000,
      Unnamed: 0          ds             y
 165         165  2017-06-15  17611.210000
 166         166  2017-06-16  15406.850000
 167         167  2017-06-17  32660.840000
 168         168  2017-06-18  30453.034730
 169         169  2017-06-19  16843.320000
 170         170  2017-06-20  13630.220000
 171         171  2017-06-21  21312.700000
 172         172  2017-06-22  18063.620000
 173         173  2017-06-23  20546.280000
 174         174  2017-06-24  34521.590000
 175         175  2017-06-25  30805.691396
 176         176  2017-06-26  17784.240000
 177         177  2017-06-27  17453.650000
 178         178  2017-06-28  37645.060000
 179         179  2017-06-29  29884.960000,
      Unnamed: 0          ds             y
 180         180  2017-06-30  26097.510000
 181         181  2017-07-01  57379.040000
 182         182  2017-07-02   8450.240000
 183         183  2017-07-03  31575.840000
 184         184  2017-07-04  21724.630000
 185         185  2017-07-05  26392.000000
 186         186  2017-07-06  22950.690000
 187         187  2017-07-07  23144.820000
 188         188  2017-07-08  44886.780000
 189         189  2017-07-09  44914.235679
 190         190  2017-07-10  30710.040000
 191         191  2017-07-11  23113.710000
 192         192  2017-07-12  23713.950000
 193         193  2017-07-13  22882.510000
 194         194  2017-07-14  20329.610000,
      Unnamed: 0          ds             y
 195         195  2017-07-15  36953.460000
 196         196  2017-07-16  31560.448199
 197         197  2017-07-17  19521.330000
 198         198  2017-07-18  23723.900000
 199         199  2017-07-19  25252.430000
 200         200  2017-07-20  23784.040000
 201         201  2017-07-21  25522.930000
 202         202  2017-07-22  34953.310000
 203         203  2017-07-23  30699.729412
 204         204  2017-07-24  22740.850000
 205         205  2017-07-25  24766.660000
 206         206  2017-07-26  26370.380000
 207         207  2017-07-27  21642.140000
 208         208  2017-07-28  21055.240000
 209         209  2017-07-29  33132.160000,
      Unnamed: 0          ds             y
 210         210  2017-07-30  29137.080723
 211         211  2017-07-31  21842.590000
 212         212  2017-08-01  25657.240000
 213         213  2017-08-02  22196.490000
 214         214  2017-08-03  25902.030000
 215         215  2017-08-04  20047.480000
 216         216  2017-08-05  31949.700000
 217         217  2017-08-06  35285.514645
 218         218  2017-08-07  32157.250000
 219         219  2017-08-08  31784.920000
 220         220  2017-08-09  26707.700000
 221         221  2017-08-10  24347.300000
 222         222  2017-08-11  31063.810000
 223         223  2017-08-12  32465.430000
 224         224  2017-08-13  36215.431653,
      Unnamed: 0          ds             y
 225         225  2017-08-14  29630.790000
 226         226  2017-08-15  11794.410000
 227         227  2017-08-16  24316.940000
 228         228  2017-08-17  22065.760000
 229         229  2017-08-18  28746.900000
 230         230  2017-08-19  30373.550000
 231         231  2017-08-20  31337.826676
 232         232  2017-08-21  30673.600000
 233         233  2017-08-22  24786.170000
 234         234  2017-08-23  21553.870000
 235         235  2017-08-24  34498.170000
 236         236  2017-08-25  29151.820000
 237         237  2017-08-26  35819.200000
 238         238  2017-08-27  36707.727781
 239         239  2017-08-28  30504.000000,
      Unnamed: 0          ds             y
 240         240  2017-08-29  24821.470000
 241         241  2017-08-30  25851.990000
 242         242  2017-08-31  30900.840000
 243         243  2017-09-01  28576.750000
 244         244  2017-09-02  51070.320000
 245         245  2017-09-03   1304.140000
 246         246  2017-09-04  31919.290000
 247         247  2017-09-05  19420.440000
 248         248  2017-09-06  29433.330000
 249         249  2017-09-07  24844.330000
 250         250  2017-09-08  28061.110000
 251         251  2017-09-09  60050.300000
 252         252  2017-09-10  51201.452455
 253         253  2017-09-11  24985.520000
 254         254  2017-09-12  21704.320000,
      Unnamed: 0          ds             y
 255         255  2017-09-13  26213.350000
 256         256  2017-09-14  20794.270000
 257         257  2017-09-15  27063.090000
 258         258  2017-09-16  60906.800000
 259         259  2017-09-17  54082.381982
 260         260  2017-09-18  27140.380000
 261         261  2017-09-19  20149.080000
 262         262  2017-09-20  27036.240000
 263         263  2017-09-21  20535.390000
 264         264  2017-09-22  22562.180000
 265         265  2017-09-23  51324.770000
 266         266  2017-09-24  43475.359012
 267         267  2017-09-25  19549.280000
 268         268  2017-09-26  16377.460000
 269         269  2017-09-27  23486.910000,
      Unnamed: 0          ds             y
 270         270  2017-09-28  20473.550000
 271         271  2017-09-29  19753.890000
 272         272  2017-09-30  47480.810000
 273         273  2017-10-01     30.000000
 274         274  2017-10-02  20796.620000
 275         275  2017-10-03  21597.630000
 276         276  2017-10-04  23922.380000
 277         277  2017-10-05  19560.870000
 278         278  2017-10-06  26470.640000
 279         279  2017-10-07  53405.290000
 280         280  2017-10-08  45718.651077
 281         281  2017-10-09  22688.260000
 282         282  2017-10-10  16982.250000
 283         283  2017-10-11  19750.120000
 284         284  2017-10-12  18117.790000,
      Unnamed: 0          ds             y
 285         285  2017-10-13  21575.280000
 286         286  2017-10-14  44712.560000
 287         287  2017-10-15  37225.529845
 288         288  2017-10-16  18228.600000
 289         289  2017-10-17  18066.680000
 290         290  2017-10-18  21624.580000
 291         291  2017-10-19  17103.440000
 292         292  2017-10-20  20251.030000
 293         293  2017-10-21  48696.130000
 294         294  2017-10-22  47469.115178
 295         295  2017-10-23  26488.580000
 296         296  2017-10-24  15289.360000
 297         297  2017-10-25  21295.560000
 298         298  2017-10-26  19792.960000
 299         299  2017-10-27  24589.400000,
      Unnamed: 0          ds             y
 300         300  2017-10-28  41665.600000
 301         301  2017-10-29  41163.544999
 302         302  2017-10-30  28914.800000
 303         303  2017-10-31  21036.670000
 304         304  2017-11-01  23057.030000
 305         305  2017-11-02  23757.300000
 306         306  2017-11-03  27038.210000
 307         307  2017-11-04  43329.340000
 308         308  2017-11-05  34161.043419
 309         309  2017-11-06  18255.790000
 310         310  2017-11-07  21637.230000
 311         311  2017-11-08  27236.800000
 312         312  2017-11-09  22735.550000
 313         313  2017-11-10  22738.690000
 314         314  2017-11-11  50587.970000,
      Unnamed: 0          ds             y
 315         315  2017-11-12  42889.957512
 316         316  2017-11-13  19901.640000
 317         317  2017-11-14  16314.180000
 318         318  2017-11-15  16102.430000
 319         319  2017-11-16  15566.080000
 320         320  2017-11-17  23616.180000
 321         321  2017-11-18  41690.390000
 322         322  2017-11-19  35844.763285
 323         323  2017-11-20  18904.630000
 324         324  2017-11-21  13247.220000
 325         325  2017-11-22  15254.650000
 326         326  2017-11-23  13602.080000
 327         327  2017-11-24  39222.530000
 328         328  2017-11-25  52388.730000
 329         329  2017-11-26     30.000000,
      Unnamed: 0          ds         y
 330         330  2017-11-27  13440.02
 331         331  2017-11-28  11700.16
 332         332  2017-11-29  19542.76
 333         333  2017-11-30  14424.62
 334         334  2017-12-01  19419.42
 335         335  2017-12-02  38347.13
 336         336  2017-12-03     30.00
 337         337  2017-12-04  19669.32
 338         338  2017-12-05  14487.43
 339         339  2017-12-06  17218.60
 340         340  2017-12-07  17345.18
 341         341  2017-12-08  21006.55
 342         342  2017-12-09  34687.74
 343         343  2017-12-10   9292.98
 344         344  2017-12-11  15822.65,
      Unnamed: 0          ds             y
 345         345  2017-12-12  18425.810000
 346         346  2017-12-13  17803.550000
 347         347  2017-12-14  13630.320000
 348         348  2017-12-15  15659.560000
 349         349  2017-12-16  34190.110000
 350         350  2017-12-17   8634.010000
 351         351  2017-12-18  17927.380000
 352         352  2017-12-19  17489.770000
 353         353  2017-12-20  30603.300000
 354         354  2017-12-21  19553.370000
 355         355  2017-12-22  21244.980000
 356         356  2017-12-23  29671.030000
 357         357  2017-12-24   5285.300000
 358         358  2017-12-25   8234.985862
 359         359  2017-12-26  23020.700000]